@import url(assets/css/basic.css);
@import url(assets/css/widgets.css);
@import url(assets/css/common.css);
@import url(assets/css/faq.css);
@import url(ui/css/style.css);
@import url(assets/css/clients.css);
@import url(assets/css/contact.css);


/** Header CSS **/

.innerHeader {
  background: linear-gradient(180deg, #15843C 0%, #36BD65 100%);
  padding: 10px 0;
}

.innerHeaderWrap {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
}

.innerHeaderWrap ul {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 14px;
}

.innerHeaderWrap ul img {
  vertical-align: middle;
}

.innerHeaderWrap ul a {
  text-decoration: none;
  color: #fff;
}

.innerHeaderWrap ul.right_info a {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}

.innerHeaderWrap ul.right_info a:hover {
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.7);
}

.mainHeader .header_wrap {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.mainHeader .logo img {
  max-width: 200px;
}

.navigationWrapper ul {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 10px;
}

.navigationWrapper ul li {
  margin: 0 10px;
}

.navigationWrapper ul li:last-child {
  margin-right: 0;
}

/** Header CSS Ends here **/


/** Homepage Hero Section CSS **/

.hero_sec {
  position: relative;
  padding: 4rem 0 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.hero_overlay {
  background: linear-gradient(90deg, #001407 0%, rgba(0, 16, 6, 0.72) 34.17%, rgba(0, 0, 0, 0.00) 76.65%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_info {
  max-width: 60%;
}

.hero_info > span {
  font-weight: 600;
  color: #fff;
  margin: 0 0 10px;
  display: inline-block;
}

.hero_info h2 {
  font-size: 50px;
  font-family: 'Russo One';
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
  position: relative;
  color: #fff;
}

.hero_info p {
  color: #fff;
  font-size: 14px;
  max-width: 75%;
  margin: 20px 0 30px;
}

.scrollDown {
  position: absolute;
  bottom: -12px;
  left: 0;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.scrollDown a {
  padding: 10px 15px;
  font-size: 14px;
}

.scrollDown a span {
  padding: 7px 10px 8px;
  margin: 0 0 20px;
  background-color: #fff;
  color: #000;
  vertical-align: middle;
  font-size: 40px;
  line-height: 50px;
}

.scrollDown > a:hover {
  color: #15843C;
}

.scrollDown > a:hover span {
  color: #fff;
  background-color: #15843C;
}

/** Homepage Hero Section CSS ends here **/

/** Clients Section CSS **/

.clients_sec {
  z-index: 1;
  position: relative;
}

.clients_inner {
  background-color: #fff;
  padding: 2rem 0;
  margin-top: -60px;
}

.clients_inner .ttlWrap {
  text-align: center;
}

.clientsLogo {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}

.clientsLogo img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 130px;
}

/** Clients CSS ends here **/


/** Story CSS **/

.story_sec {
  padding: 2rem 0 4rem;
}

.story_sec .leftCol {
  flex: 0 0 auto;
}

.story_sec .rightCol {
  flex: 1 1 60%;
  max-width: 60%;
  margin-left: auto;
}

.story_sec .cont {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.fullImg_wrap {
  padding: 30px 0;
}

.fullImg_wrap img {
  filter: drop-shadow(0px 30px 10px rgba(0,0,0,0.5));
  width: 80%;
  margin: 0 auto;
  display: block;
}

/** Story CSS ends here **/

/** Connect CSS **/

.connect_us_sec .custom_row {
  margin: 0;
}

.connect_us_sec .formCol {
  background-color: #F4F4F4;
  padding: 30px;
}

.connect_us_sec .imgCol, .connect_us_sec .formCol {
  flex: 0 0 50%;
}

.connect_us_sec .imgCol img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.connectForm {
  margin: 1.5rem 0 0;
}

/** Connect CSS ends here **/

/** Subscribe CSS **/

.subscribe_sec {
  padding: 6rem 0 3rem;
}

.subs_inner {
  background: linear-gradient(180deg, #0877A4 0%, #000 100%);
  position: relative;
  padding: 0.5rem 2rem;
}

.subs_inner:after {
  content: '';
  position: absolute;
  left: 62%;
  top: 0;
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  width: 55px;
  transform: skewX(40deg);
}

.subscribe_sec .custom_row {
  align-items: center;
}

.subscribe_sec .imgCol, .subscribe_sec .subsForm {
  padding: 0 15px;
}

.subscribe_sec .imgCol {
  flex: 1 1 50%;
  max-width: 50%;
}

.subscribe_sec .imgCol img {
  width: 75%;
  margin: -50px 20px 0 auto;
  display: block;
}

.subscribe_sec .subsForm {
  flex: 1 1 50%;
  max-width: 50%;
}

.subscribe_sec .subsForm .ttlWrap h2 {
  color: #fff;
}

/** Subscribe CSS ends here **/


/** Footer CSS starts here **/

.footer-sec {
  padding: 3rem 0;
  background:linear-gradient(180deg, #15843C 0%, #36BD65 100%);
}

.footerCol-6, .footerCol-3 {
  padding: 0 15px;
}

.footerCol-6 {
  flex: 1 1 35%;
  max-width: 35%;
  margin-right: auto;
}

.footerCol-3 {
  flex: 1 1 30%;
  max-width: 30%;
}

.footerCol_inner h4 {
  color: #fff;
  font-family: 'Russo One';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
  text-align: left;
}

.footerCol_inner p {
  font-size: 15px;
  line-height: normal;
  color: #fff;
  font-weight: 400;
}

ul.foot_menu {
  display: inline-block;
}

ul.foot_menu li a {
  text-align: left;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 15px;
  padding: 0;
}

ul.foot_menu li a:hover {
  color: #000;
}

.footerCol_inner ul.address li {
  margin: 0 0 15px;
  color: #fff;
  font-weight: 500;
}

.footerCol_inner ul.address li span img {
  vertical-align: middle;
  margin-right: 10px;
}

.footerCol_inner ul.social_info {
  margin: 20px 0;
}

ul.social_info {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 20px;
  color: #fff;
}

ul.social_info li a {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

ul.social_info li a img {
  vertical-align: middle;
}

ul.social_info li a:hover {
box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.7);
  border-color: transparent;
}

footer .copyright {
  text-align: center;
  background: linear-gradient(180deg, #15843C 0%, #36BD65 100%);
  color: #fff;
  padding: 12px 0;
  font-size: 12px;
}

/** Footer CSS ends here **/

