.iframe_sec {
    padding: 2rem 0;
}

.iframe_inner {
    position: relative;
    width: 100vw;
    height: 700px;
    overflow: hidden;
}

.iframe_inner iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}








/** Responsive CSS starts here **/

@media (max-width: 1199.98px) {
    .iframe_inner {
        height: 550px;
    }
}

@media (max-width: 991.98px) {

    .iframe_sec {
        padding: 3rem 0;
    }
    
    .iframe_inner {
        height: 450px;
    }
}

@media (max-width: 767.98px) {
    .iframe_sec {
        padding: 4rem 0 0;
    }
}

@media (max-width: 650px) {
    .iframe_inner {
        height: 400px;
    }
}

@media (max-width: 575.98px) {
    .iframe_sec {
        padding: 3rem 0 0;
    }
    .iframe_inner {
        height: unset;
        min-height: 350px;
    }
}

@media (max-width: 475.98px) {
    .iframe_sec {
        padding: 1rem 0 0;
    }
    .iframe_inner {
        min-height: 250px;
    }
}

@media (max-width: 375.98px) {
    .iframe_sec {
        padding: 0;
    }
    .iframe_inner {
        min-height: 200px;
    }
}